<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-2.1.3.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../js/common.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="js/rest.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <script src="../../scripts/Chart.bundle.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            font-size: 12px;
            min-width: 900px;
        }

        #tableName {
            width: 150px;
            height: 30px;
            border: 1px solid #dfe6ec;
            background-color: lightgray;
        }

        #serverDesc {
            width: 758px;
            height: 30px;
            border: 1px solid #dfe6ec;
        }

        #content {
            width: 300px;
            height: 30px;
            border: 1px solid #dfe6ec;
        }

        #desc {
            width: 150px;
            height: 30px;
            border: 1px solid #dfe6ec;
            background-color: lightgray;
        }

        #bladeServerStatusImage {
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 50%;
        }

        .units {
            max-width: 100px;
            text-align: center;
        }

        .status {
            width: 15px;
            height: 15px;
        }

        .table1,
        .table1 tr th,
        .table1 tr td {
            border: 1px solid #dfe6ec;
        }

        .table1 td {
            height: 30px;
        }

        .table1 {
            min-width: 700px;
            border-collapse: collapse;
            padding: 2px;
        }

        .td1 {
            background-color: #eef1f6;
            width: 150px;
        }

        .el-collapse-item__header {
            font-size: 12px;
        }

        .whiteClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px white;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .limegreenClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px #32CD32 solid;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .redClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px #FF0000 solid;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .royalblueClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px #4169E1 solid;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .yellowClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px #FFBB33 solid;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .pieChart {
            margin-top: 10px;
            max-width: 300px;
            min-width: 260px;
        }

        .pieChart .pieChart-content {
            display: flex;
            align-items: center;
            margin-top: 12px;
            margin-left: 30px;
        }

        .pieChart .pieChart-content span:nth-child(1) {
            line-height: 10px;
            padding-left: 3px;
        }

        .pieChart .pieChart-content span:nth-child(2) {
            line-height: 10px;
            padding-left: 10px;
            padding-right: 5px;
        }

        .pieChart div:nth-child(2) {
            margin-top: 10px;
        }

        .pieChart .pieChart-title {
            line-height: 10px;
            padding-left: 10px;
            padding-bottom: 20px;
            padding-top: 5px;
            font-size: 14px;
            position: relative;
            top: -65px;
            text-align: center;
            height: 30px;
        }
        .pieChart .pieChart-title1 {
            line-height: 10px;
            padding-left: 13px;
            padding-bottom: 20px;
            padding-top: 5px;
            font-size: 14px;
            position: relative;
            top: -70px;
            text-align: center;
            height: 30px;
        }
        .pieChart .pieChart-chart {
            height: 120px;
            width: 120px;
            margin-top: 15px;
            float: right;
        }

        .pieChart .pieChart-error {
            margin-top: 60px;
            text-align: center;
        }

        .normalClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px #32CD32 solid;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .warningClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px #FFBB33 solid;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .criticalClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px #FF0000 solid;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .unknownClass {
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px #4169E1 solid;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- 刀片服务器详情 -->
        <div style="margin-top:20px;">
            <!--服务器信息表单-->
            <h4>{{i18ns.deviceInfo.essentialInformation}}</h4>
            <table cellspacing="0" class="table1">
                <tr>
                    <td class="td1">&nbsp;{{i18ns.serverList.serverIPAddress}}</td>
                    <td>&nbsp;{{serverInfos.ipAddress}}</td>
                    <td class="td1">&nbsp;{{i18ns.common.status}}</td>
                    <td>&nbsp;
                        <div id="bladeServerStatusImage" v-show="serverInfos.serverInfosStatus"></div>&nbsp;{{serverInfos.serverInfosStatus}}</td>
                </tr>
                <tr>
                    <td class="td1">&nbsp;{{i18ns.deviceInfo.deviceModel}}</td>
                    <td>&nbsp;{{serverInfos.model}}</td>
                    <td class="td1">&nbsp;{{i18ns.deviceInfo.location}}</td>
                    <td>&nbsp;{{serverInfos.name}}</td>
                </tr>
                <tr>
                    <td class="td1">&nbsp;{{i18ns.deviceInfo.productSn}}</td>
                    <td>&nbsp;{{serverInfos.productSn}}</td>
                    <td class="td1">&nbsp;{{i18ns.deviceInfo.uuid}}</td>
                    <td>&nbsp;{{serverInfos.bladeUuid}}</td>
                </tr>
                <tr>
                    <td class="td1">&nbsp;{{i18ns.template.templateDesc}}</td>
                    <td colspan="3">&nbsp;{{serverInfos.description}}</td>
                </tr>
            </table>
            <h4>{{i18ns.deviceInfo.onlineDeviceStatus}}</h4>

            <div style="display:flex; flex-wrap: wrap;">
                <el-row class="pieChart">
                    <!--CPU饼状图-->
                    <el-col :span="12">
                        <div class="pieChart-chart" v-show="isShowCPU">
                            <canvas id="cpu" width="120" height="120"></canvas>
                        </div>
                        <div class="pieChart-chart" v-show="!isShowCPU">
                            <canvas id="cpu_noRecords" width="124" height="124"></canvas>
                        </div>
                        <div v-bind:class="isShowCPU?'pieChart-title':'pieChart-title1'">{{i18ns.server.cpu}}
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="pieChart-content">
                            <div class="normalClass"></div>
                            <span>{{cpuHealthState.normal}}</span>
                            <span>{{i18ns.server.normal}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="warningClass"></div>
                            <span>{{cpuHealthState.warning}}</span>
                            <span>{{i18ns.server.warning}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="criticalClass"></div>
                            <span>{{cpuHealthState.critical}}</span>
                            <span>{{i18ns.server.critical}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="unknownClass"></div>
                            <span>{{cpuHealthState.unknown}}</span>
                            <span>{{i18ns.server.unknown}}</span>
                        </div>
                    </el-col>
                </el-row>

                <el-row class="pieChart">
                    <!--内存饼状图-->
                    <el-col :span="12">
                        <div class="pieChart-chart" v-show="isShowMemory">
                            <canvas id="memory" width="120" height="120"></canvas>
                        </div>
                        <div class="pieChart-chart" v-show="!isShowMemory">
                            <canvas id="memory_noRecords" width="134" height="134"></canvas>
                        </div>
                        <div v-bind:class="isShowMemory?'pieChart-title':'pieChart-title1'">{{i18ns.server.memory}}
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="pieChart-content">
                            <div class="normalClass"></div>
                            <span>{{memoryHealthState.normal}}</span>
                            <span>{{i18ns.server.normal}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="warningClass"></div>
                            <span>{{memoryHealthState.warning}}</span>
                            <span>{{i18ns.server.warning}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="criticalClass"></div>
                            <span>{{memoryHealthState.critical}}</span>
                            <span>{{i18ns.server.critical}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="unknownClass"></div>
                            <span>{{memoryHealthState.unknown}}</span>
                            <span>{{i18ns.server.unknown}}</span>
                        </div>
                    </el-col>
                </el-row>
                <el-row class="pieChart">
                    <!--硬盘饼状图-->
                    <el-col :span="12">
                        <div class="pieChart-chart" v-show="isShowDisk">
                            <canvas id="drive" width="120" height="120"></canvas>
                        </div>
                        <div class="pieChart-chart" v-show="!isShowDisk">
                            <canvas id="drive_noRecords" width="134" height="134"></canvas>
                        </div>
                        <div v-bind:class="isShowDisk?'pieChart-title':'pieChart-title1'">{{i18ns.server.disk}}
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="pieChart-content">
                            <div class="normalClass"></div>
                            <span>{{driveHealthState.normal}}</span>
                            <span>{{i18ns.server.normal}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="warningClass"></div>
                            <span>{{driveHealthState.warning}}</span>
                            <span>{{i18ns.server.warning}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="criticalClass"></div>
                            <span>{{driveHealthState.critical}}</span>
                            <span>{{i18ns.server.critical}}</span>
                        </div>
                        <div class="pieChart-content">
                            <div class="unknownClass"></div>
                            <span>{{driveHealthState.unknown}}</span>
                            <span>{{i18ns.server.unknown}}</span>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <el-collapse v-model="activeNames" style="margin-top:20px;">
                <el-collapse-item v-bind:title="i18ns.deviceInfo.motherboard" name="1">
                    <!-- 主板详细信息 -->
                    <el-table :data="deviceInfos.board">
                        <el-row>
                            <!-- 名称 -->
                            <el-table-column prop="name" v-bind:label="i18ns.deviceInfo.name">
                            </el-table-column>
                            <!-- 序列号 -->
                            <el-table-column prop="sn" v-bind:label="i18ns.deviceInfo.sn">
                            </el-table-column>
                            <!-- 单板部件号 -->
                            <el-table-column prop="partNumber" v-bind:label="i18ns.deviceInfo.partNumber">
                            </el-table-column>
                            <!-- 资产标签 -->
                            <el-table-column prop="assertTag" v-bind:label="i18ns.deviceInfo.assetTag">
                            </el-table-column>
                            <!-- 单板制造日期 -->
                            <el-table-column prop="manuTime" v-bind:label="i18ns.deviceInfo.manuTime">
                            </el-table-column>
                            <!-- 厂商 -->
                            <el-table-column prop="manufacture" v-bind:label="i18ns.deviceInfo.manufacture">
                            </el-table-column>
                        </el-row>
                    </el-table>
                </el-collapse-item>
                <!-- cpu详细信息 -->
                <el-collapse-item v-bind:title="i18ns.deviceInfo.cpu" name="2">
                    <el-table :data="deviceInfos.CPU">
                        <el-row>
                            <!-- 名称 -->
                            <el-table-column prop="name" v-bind:label="i18ns.deviceInfo.name">
                            </el-table-column>
                            <!-- 健康状态 -->
                            <el-table-column prop="healthState" v-bind:label="i18ns.deviceInfo.healthState">
                                <template scope="scope">
                                    <span>{{getHealthStausTxt(scope.row.healthState)}}</span>
                                </template>
                            </el-table-column>
                            <!-- 在位信息 -->
                            <el-table-column prop="presentState" v-bind:label="i18ns.deviceInfo.installationStatus">
                                <template scope="scope">
                                    <span v-if="scope.row.presentState==='0'">{{i18ns.deviceInfo.notInstalled}}</span>
                                    <span v-else-if="scope.row.presentState==='-2'||scope.row.presentState==='2'">{{i18ns.deviceInfo.unknown}}</span>
                                    <span v-else>{{i18ns.deviceInfo.installed}}</span>
                                </template>
                            </el-table-column>
                            <!-- 型号 -->
                            <el-table-column prop="model" v-bind:label="i18ns.deviceInfo.model">
                            </el-table-column>
                            <!-- 频率 -->
                            <el-table-column prop="frequency" v-bind:label="i18ns.deviceInfo.frequency">
                            </el-table-column>
                            <!-- 厂商 -->
                            <el-table-column prop="manufacture" v-bind:label="i18ns.deviceInfo.manufacture">
                            </el-table-column>
                        </el-row>
                    </el-table>
                </el-collapse-item>
                <!-- 内存详细信息 -->
                <el-collapse-item v-bind:title="i18ns.deviceInfo.memory" name="3">
                    <el-table :data="deviceInfos.Memory">
                        <el-row>
                            <!-- 名称 -->
                            <el-table-column prop="name" v-bind:label="i18ns.deviceInfo.name">
                            </el-table-column>
                            <!-- 健康状态 -->
                            <el-table-column prop="healthState" v-bind:label="i18ns.deviceInfo.healthState">
                                <template scope="scope">
                                    <span>{{getHealthStausTxt(scope.row.healthState)}}</span>
                                </template>
                            </el-table-column>
                            <!-- 在位信息 -->
                            <el-table-column prop="presentState" v-bind:label="i18ns.deviceInfo.installationStatus">
                                <template scope="scope">
                                    <span v-if="scope.row.presentState==='0'">{{i18ns.deviceInfo.notInstalled}}</span>
                                    <span v-else-if="scope.row.presentState==='-2'||scope.row.presentState==='2'">{{i18ns.deviceInfo.unknown}}</span>
                                    <span v-else>{{i18ns.deviceInfo.installed}}</span>
                                </template>
                            </el-table-column>
                            <!-- 容量 -->
                            <el-table-column prop="capacity" v-bind:label="i18ns.deviceInfo.capacity">
                            </el-table-column>
                            <!-- 频率 -->
                            <el-table-column prop="frequency" v-bind:label="i18ns.deviceInfo.frequency">
                            </el-table-column>
                            <!-- 厂商 -->
                            <el-table-column prop="manufacture" v-bind:label="i18ns.deviceInfo.manufacture">
                            </el-table-column>
                        </el-row>
                    </el-table>
                </el-collapse-item>
                <!-- 硬盘详细信息 -->
                <el-collapse-item v-bind:title="i18ns.deviceInfo.disk" name="4">
                    <el-table :data="deviceInfos.Disk">
                        <el-row>
                            <!-- 名称 -->
                            <el-table-column prop="name" v-bind:label="i18ns.deviceInfo.name">
                            </el-table-column>
                            <!-- 健康状态 -->
                            <el-table-column prop="healthState" v-bind:label="i18ns.deviceInfo.healthState">
                                <template scope="scope">
                                    <span>{{getHealthStausTxt(scope.row.healthState)}}</span>
                                </template>
                            </el-table-column>
                            <!-- 在位信息 -->
                            <el-table-column prop="presentState" v-bind:label="i18ns.deviceInfo.installationStatus">
                                <template scope="scope">
                                    <span v-if="scope.row.presentState==='0'">{{i18ns.deviceInfo.notInstalled}}</span>
                                    <span v-else-if="scope.row.presentState==='-2'||scope.row.presentState==='2'">{{i18ns.deviceInfo.unknown}}</span>
                                    <span v-else>{{i18ns.deviceInfo.installed}}</span>
                                </template>
                            </el-table-column>
                            <!-- 槽位号 -->
                            <el-table-column prop="location" v-bind:label="i18ns.deviceInfo.location">
                            </el-table-column>
                        </el-row>
                    </el-table>
                </el-collapse-item>
                <!-- Raid详细信息 -->
                <el-collapse-item v-bind:title="i18ns.deviceInfo.raid" name="5">
                    <el-table :data="deviceInfos.Raid">
                        <el-row>
                            <!-- 名称 -->
                            <el-table-column prop="name" v-bind:label="i18ns.deviceInfo.name">
                            </el-table-column>
                            <!-- 健康状态 -->
                            <el-table-column prop="healthState" v-bind:label="i18ns.deviceInfo.healthState">
                                <template scope="scope">
                                    <span>{{getHealthStausTxt(scope.row.healthState)}}</span>
                                </template>
                            </el-table-column>
                            <!-- RAID类型 -->
                            <el-table-column prop="raidType" v-bind:label="i18ns.deviceInfo.raidType">
                            </el-table-column>
                            <!-- 接口类型 -->
                            <el-table-column prop="interfaceType" v-bind:label="i18ns.deviceInfo.interfaceType">
                                <template scope="scope">
                                    <span v-if="scope.row.interfaceType==1">SPI</span>
                                    <span v-else-if="scope.row.interfaceType==2">SAS-3G</span>
                                    <span v-else-if="scope.row.interfaceType==3">SATA-1.5G</span>
                                    <span v-else-if="scope.row.interfaceType==4">SATA-3G</span>
                                    <span v-else-if="scope.row.interfaceType==5">SAS-6G</span>
                                    <span v-else-if="scope.row.interfaceType==6">SAS-12G</span>
                                    <span v-else>{{i18ns.deviceInfo.unknown}}</span>
                                </template>
                            </el-table-column>
                            <!-- BBU类型 -->
                            <el-table-column prop="bbuType" v-bind:label="i18ns.deviceInfo.bbuType">
                            </el-table-column>
                        </el-row>
                    </el-table>
                </el-collapse-item>
                <!--Mezz卡详细信息-->
                <el-collapse-item v-bind:title="i18ns.deviceInfo.Mezz" name="6">
                    <el-table :data="deviceInfos.Mezz">
                        <el-row>
                            <!-- 名称 -->
                            <el-table-column prop="name" v-bind:label="i18ns.deviceInfo.name">
                            </el-table-column>
                            <!-- 健康状态 -->
                            <el-table-column prop="mezzHealthStatus" v-bind:label="i18ns.deviceInfo.healthState">
                                <template scope="scope">
                                    <span>{{getHealthStausTxt(scope.row.mezzHealthStatus)}}</span>
                                </template>
                            </el-table-column>
                            <!--在位信息-->
                            <el-table-column prop="presentState" v-bind:label="i18ns.deviceInfo.installationStatus">
                                <template scope="scope">
                                    <span v-if="scope.row.presentState==='0'">{{i18ns.deviceInfo.notInstalled}}</span>
                                    <span v-else>{{i18ns.deviceInfo.installed}}</span>
                                </template>
                            </el-table-column>
                            <!-- 描述 -->
                            <el-table-column prop="mezzInfo" v-bind:label="i18ns.deviceInfo.description">
                            </el-table-column>
                            <!-- 位置信息 -->
                            <el-table-column prop="mezzLocation" v-bind:label="i18ns.deviceInfo.locationInfo">
                            </el-table-column>
                            <!-- ETH网口MAC地址 -->
                            <el-table-column prop="mezzETHMac" v-bind:label="i18ns.deviceInfo.ethMac">
                            </el-table-column>
                            <!-- IB网口MAC地址 -->
                            <el-table-column prop="mezzIBMac" v-bind:label="i18ns.deviceInfo.ibMac">
                            </el-table-column>
                            <!-- FC网口WWPN -->
                            <el-table-column prop="mezzFCWWPN" v-bind:label="i18ns.deviceInfo.fcWWPN">
                            </el-table-column>
                        </el-row>
                    </el-table>
                </el-collapse-item>
                <!-- 网卡详细信息 -->
                <el-collapse-item v-bind:title="i18ns.deviceInfo.NetworkCard" name="7">
                    <el-table :data="deviceInfos.NetworkCard">
                        <el-row>
                            <!-- 网卡名称 -->
                            <el-table-column prop="netWorkCardName" v-bind:label="i18ns.deviceInfo.netWorkCardName">
                            </el-table-column>
                            <!-- MAC地址 -->
                            <el-table-column prop="macAdress" v-bind:label="i18ns.deviceInfo.macAdress">
                            </el-table-column>
                            <el-table-column prop="portName" v-bind:label="i18ns.deviceInfo.port">
                            </el-table-column>
                            <el-table-column prop="moId" v-bind:label="i18ns.deviceInfo.moid">
                            </el-table-column>
                            <el-table-column prop="linkStatus" v-bind:label="i18ns.deviceInfo.linkStatus">
                            </el-table-column>
                        </el-row>
                    </el-table>
                </el-collapse-item>
            </el-collapse>
        </div>
        <!-- 返回按钮 -->
        <el-button style="margin-top:10px;" @click="back">{{i18ns.common.back}}</el-button>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: '',
                i18ns: {}, //国际化
                activeNames: [],
                isShowCPU: false,
                isShowMemory: false,
                motherBoard: [],
                isShowDisk: false,
                cpuHealthState: {
                    normal: 0,
                    warning: 0,
                    critical: 0,
                    unknown: 0
                },
                memoryHealthState: {
                    normal: 0,
                    warning: 0,
                    critical: 0,
                    unknown: 0
                },
                driveHealthState: {
                    normal: 0,
                    warning: 0,
                    critical: 0,
                    unknown: 0
                },
                deviceInfos: {
                    dn: "",
                    ipAddress: "",
                    name: "",
                    uuid: "",
                    bmcMacAddr: "",
                    desc: "",
                    MemoryCapacity: "",
                    presentState: '',
                    CPU: [],
                    Memory: [],
                    Disk: [],
                    PSU: [],
                    Fan: [],
                    board: [],
                    Raid: [],
                    NetworkCard: [],
                    PCIE: [],
                    Mezz: []
                },
                serverInfos: {
                    ipAddress: "",
                    serverName: "",
                    serverModel: "",
                    productSn: "",
                    description: "",
                    status: "",
                    serverInfosStatus: "",
                    serverTypeCode: '',
                    childBlades: [],
                    model: "",
                    bladeUuid: "",
                    location: "",
                    type: "",
                    slotId: "",
                },
            },
            created: function () {
                /* 国际化方法 */
                this.i18ns = getIn18();
                this.name = localStorage.getItem('nameStr');
            },
            mounted: function () {
                setTimeout(function () {
                    app.getUnitsInfo();
                }, 0);

            },
            methods: {
                /**
                 * 获取部件健康状态
                 **/
                getHealthStausTxt: function (status) {
                    return getHealthTxt(status);
                },
                /**
                 * 绘制饼状图的方法
                 * **/
                draw: function (id, data) {
                    if ((data.normal + data.warning + data.critical + data.unknown) > 0) {
                        var ctx = document.getElementById(id);
                        var myPieChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                datasets: [{
                                    data: [data.normal, data.warning, data.critical, data.unknown],
                                    backgroundColor: [
                                        '#32CD32',
                                        '#FFBB33',
                                        '#FF0000',
                                        '#4169E1'
                                    ],
                                    borderWidth: [0, 0, 0]
                                }],
                                labels: [
                                    app.i18ns.deviceInfo.normal,
                                    app.i18ns.deviceInfo.warning,
                                    app.i18ns.deviceInfo.critical,
                                    app.i18ns.deviceInfo.unknown
                                ]
                            },
                            options: {
                                cutoutPercentage: 80,
                                tooltips: {},
                                legend: {
                                    display: false
                                }
                            }
                        });
                    } else {
                        var myCanvas = document.getElementById(id + "_noRecords");
                        var context = myCanvas.getContext("2d");
                        var center_x = myCanvas.width / 2;
                        var center_y = myCanvas.height / 2;
                        var rad = Math.PI * 2 / 100;
                        // 绘制背景圆圈
                        function backgroundCircle() {
                            context.save();
                            context.beginPath();
                            context.lineWidth = 10; //设置线宽
                            var radius = center_x - context.lineWidth;
                            context.lineCap = "round";
                            context.strokeStyle = '#ccc';
                            context.arc(center_x, center_y, radius, 0, Math.PI * 2, false);
                            context.stroke();
                            context.closePath();
                            context.restore();
                        }
                        //绘制文字
                        function text(n) {
                            context.save(); //save和restore可以保证样式属性只运用于该段canvas元素
                            context.fillStyle = '#000';
                            var font_size = 12;
                            context.font = font_size + "px Helvetica";
                            var text_width = context.measureText(n).width;
                            context.fillText(n, center_x - text_width / 2, center_y + font_size / 2+8);
                            context.restore();
                        }
                        backgroundCircle();
                        text(this.i18ns.server.NoRecord);
                    }
                },

                /**
                 *  返回按钮方法 
                 * **/
                back: function () {
                    window.location.href = '../serverList/VServerList.html?s=' + Math.random()
                },

                /**
                 * 获取刀片服务器的状态
                 * **/
                getBladeServerStatus: function () {
                    var obj = document.getElementById('bladeServerStatusImage');
                    var status = this.serverInfos.status.toString();
                    switch (status) {
                        case "-1":
                        case "-2":
                            obj.style.backgroundColor = "royalblue";
                            this.serverInfos.serverInfosStatus = this.i18ns.deviceInfo.unknown;
                            break;
                        case "0":
                            obj.style.backgroundColor = "limegreen";
                            this.serverInfos.serverInfosStatus = this.i18ns.deviceInfo.normal;
                            break;
                        case "2":
                        case "3":
                        case "5":
                            obj.style.backgroundColor = "#FFBB33";
                            this.serverInfos.serverInfosStatus = this.i18ns.deviceInfo.warning;
                            break;
                        case "4":
                        case "6":
                        case "7":
                        case "8":
                            obj.style.backgroundColor = "red";
                            this.serverInfos.serverInfosStatus = this.i18ns.deviceInfo.critical;
                            break;
                        default:
                            obj.style.backgroundColor = "royalblue";
                            this.serverInfos.serverInfosStatus = this.i18ns.deviceInfo.unknown;
                            break;
                    }
                },
                /**
                 *  获取cpu状态方法，根据返回值判断cpu状态*
                 **/
                getCpuStatus: function () {
                    var statistics = StatusStatistics(this.deviceInfos.CPU);
                    this.cpuHealthState.normal = statistics.normal;
                    this.cpuHealthState.warning = statistics.warning;
                    this.cpuHealthState.critical = statistics.critical;
                    this.cpuHealthState.unknown = statistics.unknown;
                    if ((this.cpuHealthState.normal + this.cpuHealthState.warning + this.cpuHealthState.unknown +
                            this.cpuHealthState.critical) > 0) {
                        this.isShowCPU = true;
                    } else {
                        this.isShowCPU = false;
                    }
                    this.draw('cpu', this.cpuHealthState);
                },
                /* 获取内存状态 */
                getMemoryStatus: function () {
                    var statistics = StatusStatistics(this.deviceInfos.Memory);
                    this.memoryHealthState.normal = statistics.normal;
                    this.memoryHealthState.warning = statistics.warning;
                    this.memoryHealthState.critical = statistics.critical;
                    this.memoryHealthState.unknown = statistics.unknown;
                    if ((this.memoryHealthState.normal + this.memoryHealthState.warning + this.memoryHealthState
                            .unknown + this.memoryHealthState.critical) > 0) {
                        this.isShowMemory = true;
                    } else {
                        this.isShowMemory = false;
                    }
                    this.draw('memory', this.memoryHealthState);
                },
                /* 获取硬盘状态 */
                getDiskStatus: function () {
                    var obj = document.getElementById('disk');
                    var statistics = StatusStatistics(this.deviceInfos.Disk);
                    this.driveHealthState.normal = statistics.normal;
                    this.driveHealthState.warning = statistics.warning;
                    this.driveHealthState.critical = statistics.critical;
                    this.driveHealthState.unknown = statistics.unknown;
                    if ((this.driveHealthState.normal + this.driveHealthState.warning + this.driveHealthState
                            .unknown + this.driveHealthState.critical) > 0) {
                        this.isShowDisk = true;
                    } else {
                        this.isShowDisk = false;
                    }
                    this.draw('drive', this.driveHealthState);
                },
                /**
                 * 处理获取到的MezzMac返回值，如果以;分割后不是以0开头，则返回“--”
                 * 如果是0开头，则判断#的前一位数值，分别处理。
                 * **/
                asyInfo: function (str) {
                    var obj = {
                        mezzETHMac: [],
                        mezzIBMac: [],
                        mezzFCWWPN: []
                    }
                    var strAry = str.split(';');
                    if (strAry[0] == "0") {
                        for (var index = 1; index < strAry.length; index++) {
                            var element = strAry[index];
                            var splitChar = element.indexOf("#");
                            var t = element.charAt(splitChar - 1);
                            var item = element.substr(splitChar + 1).replace(/:/g, "-");
                            switch (t) {
                                case "0":
                                    obj.mezzETHMac.push(item);
                                    break;
                                case "1":
                                    obj.mezzFCWWPN.push(item);
                                    break;
                                case "2":
                                    obj.mezzIBMac.push(item);
                                    break;
                                default:
                                    break;
                            }
                        }
                        if (obj.mezzETHMac.length == 0) {
                            obj.mezzETHMac = ['--']
                        }
                        if (obj.mezzIBMac.length == 0) {
                            obj.mezzIBMac = ['--']
                        }
                        if (obj.mezzFCWWPN.length == 0) {
                            obj.mezzFCWWPN = ['--']
                        }
                    }
                    return obj;
                },
                /**
                 * 根据serverInfos.name返回值处理，取出后面数字，即槽位
                 * **/
                getLocation: function () {
                    this.serverInfos.slotId = this.serverInfos.name.slice(5);
                },
                /* 获取所有设备信息 */
                getUnitsInfo: function () {
                    var dn = localStorage.getItem('dn')
                    var ip = getCurrentEsight();
                    deviceInfo.getUnits({
                        dn: dn,
                        ip: ip,
                    }, function (ret) {
                        if (ret.data.data.length > 0) {
                            var data = ret.data.data[0];
                            //电源在位信息判断
                            if (data.PSU) {
                                for (var i = 0; i < data.PSU.length; i++) {
                                    if (data.PSU[i].presentState != '0') {
                                        app.deviceInfos.PSU.push(data.PSU[i])
                                    }
                                }
                            }

                            //内存在位信息判断
                            if (data.Memory) {
                                for (var i = 0; i < data.Memory.length; i++) {
                                    if (data.Memory[i].presentState != '0') {
                                        app.deviceInfos.Memory.push(data.Memory[i])
                                    }
                                }
                            }
                            //cpu在位信息判断
                            if (data.CPU) {
                                for (var i = 0; i < data.CPU.length; i++) {
                                    if (data.CPU[i].presentState != '0') {
                                        app.deviceInfos.CPU.push(data.CPU[i])
                                    }
                                }
                            }
                            //硬盘在位信息判断
                            if (data.Disk) {
                                for (var i = 0; i < data.Disk.length; i++) {
                                    if (data.Disk[i].presentState != '0') {
                                        app.deviceInfos.Disk.push(data.Disk[i])
                                    }
                                }
                            }
                            //Mezz卡在位信息判断
                            if (data.Mezz) {
                                for (var i = 0; i < data.Mezz.length; i++) {
                                    if (data.Mezz[i].presentState != '0' && data.Mezz[i].presentState !=
                                        -2) {
                                        var item = data.Mezz[i];
                                        var obj = app.asyInfo(item.mezzMac);
                                        item.mezzETHMac = obj.mezzETHMac.join(";");
                                        item.mezzIBMac = obj.mezzIBMac.join(";");
                                        item.mezzFCWWPN = obj.mezzFCWWPN.join(";");
                                        app.deviceInfos.Mezz.push(item)
                                    } else if (data.Mezz[i].presentState == -2) {
                                        var item = data.Mezz[i];
                                        var obj = app.asyInfo(item.mezzMac);
                                        item.mezzETHMac = obj.mezzETHMac.join(";");
                                        item.mezzIBMac = obj.mezzIBMac.join(";");
                                        item.mezzFCWWPN = obj.mezzFCWWPN.join(";");
                                        //item.mezzHealthStatus = -2;
                                        app.deviceInfos.Mezz.push(item)
                                    }
                                }
                            }
                            //风扇在位信息判断
                            if (data.Fan) {
                                for (var i = 0; i < data.Fan.length; i++) {
                                    if (data.Fan[i].presentState != '0') {
                                        app.deviceInfos.Fan.push(data.Fan[i])
                                    }
                                }
                            }
                            app.deviceInfos.board = data.board;
                            app.deviceInfos.PCIE = data.PCIE;
                            app.deviceInfos.NetworkCard = data.NetworkCard;
                            app.deviceInfos.Raid = data.RAID;
                            app.serverInfos.ipAddress = data.ipAddress;
                            app.serverInfos.uuid = data.uuid;
                            app.serverInfos.serverName = data.name;
                            app.serverInfos.serverModel = data.type;
                            app.serverInfos.productSn = data.productSn;
                            app.serverInfos.status = data.status;
                            app.serverInfos.description = data.desc;
                            app.serverInfos.model = data.mode;
                            app.serverInfos.bladeUuid = data.uuid;
                            app.serverInfos.name = data.name;
                        }
                        app.getBladeServerStatus();
                        app.getMemoryStatus();
                        app.getCpuStatus();
                        app.getDiskStatus();
                        app.getLocation();
                    })

                },

            }
        })
    </script>

</body>

</html>