<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>eSight</title>
    <link href="../../css/element.css" rel="stylesheet" />
    <link href="../../css/style.css" rel="stylesheet" />
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/element.js"></script>
    <script src="../../scripts/jquery-2.1.3.min.js"></script>
    <script src="../../scripts/i18n/zh-CN.js"></script>
    <script src="../../scripts/i18n/en.js"></script>
    <script src="../i18n/en.js"></script>
    <script src="../i18n/zh-CN.js"></script>
    <script src="../js/common.js"></script>
    <script src="js/rest.js"></script>
    <script src="../../scripts/web-platform.js"></script>
    <script src="../js/errorCode.js"></script>
    <script src="../../scripts/lodash.min.js"></script>
    <script src="../../scripts/polyfill.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            min-width: 900px;
        }

        form input {
            max-width: 350px;
        }

        .el-card__header {
            padding: 7px 15px;
            border-bottom: 1px solid #d1dbe5;
            box-sizing: border-box;
            background-color: #e5e9f2;
            font-size: 14px;
        }

        .el-card__body {
            padding-bottom: 0;
        }

        .el-card {
            border: 0;
            box-shadow: 0 0 0 0 !important;
        }
        .upload-demo{
                width: 350px;
            }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- 编辑 和 添加对话框 -->
        <el-form v-bind:model="ruleForm" v-bind:rules="rules" ref="ruleForm" label-width="180px" label-position="left">
            <!-- 用户名和密码设定 -->

            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    {{i18ns.vCenter.basicSetting}}
                </div>
                <el-row>
                    <el-form-item v-bind:label="i18ns.vCenter.hostIp" prop="hostIp">
                        <el-select :disabled="!isEsight" v-model="ruleForm.hostIp">
                            <el-option v-for="item in ips" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-bind:label="i18ns.vCenter.userName" prop="userName">
                        <div>
                            <el-input v-model="ruleForm.userName" :disabled="!isEsight" auto-complete="off"></el-input>
                        </div>
                    </el-form-item>
                    <el-form-item v-show="!isUpdate" v-bind:label="i18ns.vCenter.password" prop="password">
                        <div>
                            <el-input type="password" :disabled="!isEsight" v-model="ruleForm.password" auto-complete="off"></el-input>
                        </div>
                    </el-form-item>
                </el-row>
                <el-row v-if="isUpdate">
                    <!--  <div style="margin-top:15px;margin-bottom:15px;margin-left:10px">
                            <el-checkbox :disabled="!ruleForm.state" v-model="checked">{{i18ns.vCenter.changeInfo}}</el-checkbox>
                          </div>-->

                    <el-form-item v-bind:label="i18ns.vCenter.password" prop="password1">
                        <div>
                            <el-input type="password" v-model="ruleForm.password1" auto-complete="off" :disabled="!isEsight"></el-input>
                        </div>
                    </el-form-item>
                </el-row>
                <el-form-item v-show="isVisible">
                    <span style="font-size:12px; text-align:left; color:green;">{{isWhatDescription}}</span>
                </el-form-item>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    {{i18ns.vCenter.HASetting}}
                </div>
                <el-form-item v-bind:label="i18ns.vCenter.isRegisterHA">
                    <el-checkbox v-model="ruleForm.state" @change="checkboxChange" :disabled='checkDisabled'>
                        {{i18ns.vCenter.stateInfo}}
                    </el-checkbox>
                </el-form-item>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    {{i18ns.vCenter.alarmSetting}}
                </div>
                <el-form-item v-bind:label="i18ns.vCenter.isAlarmEnable">
                    <el-checkbox v-model="ruleForm.pushEvent" @change="ruleForm.pushEvent?ruleForm.pushEventLevel=3:ruleForm.pushEventLevel=0"
                        :disabled="support_alarm">
                        {{i18ns.vCenter.enable}}
                    </el-checkbox>
                </el-form-item>
                <el-form-item v-bind:label="i18ns.vCenter.alarmLevel">
                    <el-radio-group v-model="ruleForm.pushEventLevel" @change="pushEventLevelChange" :disabled="support_alarm">
                        <el-radio class="radio" :label="3"> {{i18ns.vCenter.all}}</el-radio>
                        <el-radio class="radio" :label="1"> {{i18ns.vCenter.critical}}</el-radio>
                        <el-radio class="radio" :label="2"> {{i18ns.vCenter.majorAndcritical}}</el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-card>
        </el-form>
        <!-- 保存按钮 -->
        <div slot="footer" class="dialog-footer">
            <el-button @click="save()" v-loading.fullscreen.lock='loading' :element-loading-text='i18ns.vCenter.loadingText'
                :disabled="!isEsight">{{i18ns.vCenter.ok}}
            </el-button>
        </div>
        <!-- 点击保弹出框-->
        <el-dialog :title="i18ns.vCenter.prompt" :visible.sync="centerDialogVisible" width="30%" fullscreen='true'
            center size="large">
            <div class="info">
                <p>{{i18ns.vCenter.operationINfo}}</p>
                <el-table :data="operationData" style="width: 100%">
                    <el-table-column prop="hostIp" :label="i18ns.vCenter.tableESightIP" header-align="left" align="left">
                    </el-table-column>
                    <el-table-column prop="aliasName" :label="i18ns.vCenter.tableAliasName" header-align="left" align="left">
                    </el-table-column>
                    <el-table-column v-if="isShowHAResult" prop="HAResult" :label="i18ns.vCenter.HAOperationResult" header-align="left" align="left">
                    </el-table-column>
                    <el-table-column  v-if="isShowAlarmResult" prop="alarmResult" :label="i18ns.vCenter.alarmOperationResult" header-align="left"
                        align="left">
                    </el-table-column>
                </el-table>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="centerDialogVisible = false">{{i18ns.vCenter.ok}}</el-button>
            </span>
        </el-dialog>
    </div>

</body>
<script type="text/javascript">
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
    var app = new Vue({
        el: '#app',
        data: {
            //国际化
            i18ns: {},
            checked: false,
            isUpdate: false,
            isVisible: false,
            isWhatDescription: '',
            checkDisabled: false,
            isEsight: false,
            ips: [],
            isFalseWhatDescription: '',
            centerDialogVisible: false,
            haCode: false,
            operationData: [],
            resMessage: {
                title: '',
                successTitle: '',
                failTitle: '',
                successInfo: [],
                failInfo: [],
            },
            ruleForm: {
                hostIp: '',
                userName: '',
                password: '',
                state: false,
                password1: '',
                pushEvent: false,
                pushEventLevel: 0
            },
            support_alarm: false,
            support_ha: false,
            support_setting: false,
            old_state: false,
            old_pushEvent: false,
            loading: false,
            loadingText: '',
            isShowHAResult: false,
            isShowAlarmResult: false,

            // 验证规则设定
            rules: {
                hostIp: {
                    required: true,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (!
                                /^(22[0-3]|2[0-1]\d|1[0-1][0-9]|12[012345689]|1[3-9]\d|[1-9]\d|[1-9])\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|\d)\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|\d)\.(25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|[1-9])$/
                                .test(value)) {
                                return callback(new Error(app.i18ns.eSight.hostIPError));
                            } else
                                return callback();
                        } else {
                            return callback(new Error(app.i18ns.eSight.hostNull));
                        }
                    },
                    trigger: 'change'
                },
                userName: [{
                    required: true,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (value.length > 100) {
                                return callback(new Error(app.i18ns.vCenter.userNameError));
                            } else
                                return callback();
                        } else {
                            return callback(new Error(app.i18ns.vCenter.userNameNull));
                        }
                    },
                    trigger: 'change'
                }],
                password: {
                    required: true,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (!
                                /^[a-zA-Z0-9\~\`\!\@\#\$\%\^\&\*\(\)\_\+\-\=\[\]|{\}\;\'\:\"\,\.\/\<\>\?]{1,100}$/
                                .test(value)) {
                                return callback(new Error(app.i18ns.vCenter.passwordError));
                            } else {
                                return callback();
                            }
                        } else {
                            if (app.isUpdate) {
                                return callback();
                            }
                            return callback(new Error(app.i18ns.vCenter.passwordNull));
                        }
                    },
                    trigger: 'change'
                },
                password1: {
                    required: true,
                    validator: function (rule, value, callback) {
                        if (value) {
                            if (!
                                /^[a-zA-Z0-9\~\`\!\@\#\$\%\^\&\*\(\)\_\+\-\=\[\]|{\}\;\'\:\"\,\.\/\<\>\?]{1,100}$/
                                .test(value)) {
                                return callback(new Error(app.i18ns.vCenter.passwordError));
                            }
                        } else {
                            return callback(new Error(app.i18ns.vCenter.passwordNull));
                        }
                        return callback();
                    },
                    trigger: 'change'
                }
            }
        },
        created: function () {
            this.i18ns = getIn18();
            this.get();
            this.getIps();
            /*  this.getEsightData('');
             this.judgmentStatus(); */

        },
        mounted: function () {
            //获取列表数据
            console.log(getCookie('JSESSIONID'));
            // this.judgmentStatus();
        },
        methods: {
            /**
             * 获取eSight列表
             *
             * @param {any} keyword
             */
            getEsightData: function (keyword) {
                var queryParam = {
                    param: {
                        pageNo: 1,
                        pageSize: 10,
                        hostIP: keyword
                    }
                }
                vCenterManage.getList(queryParam, this.getEsight);
            },

            getEsight: function (ret) {
                if (ret.code === '0') {
                    ret.data.length != 0 ? app.haCode = true : app.haCode = false;
                } else {
                    app.haCode = false;
                }
            },
            getIps: function () {
                vCenterManage.getIps(function (response) {
                    app.ips = [];
                    console.log(response)
                    for (var i in response.data) {
                        app.ips.push({
                            "label": response.data[i],
                            "value": response.data[i]
                        });
                    }
                })
            },
            get: function () {
                vCenterManage.get(function (response) {
                    if (response.code === '0') {
                        if (response.data['USER_NAME']) {
                            app.isUpdate = true;
                        }
                        app.ruleForm.hostIp = response.data['HOST_IP'];
                        app.ruleForm.userName = response.data['USER_NAME'];
                        app.ruleForm.state = response.data['STATE'];
                        app.ruleForm.pushEvent = response.data['PUSH_EVENT'];
                        app.ruleForm.pushEventLevel = response.data['PUSH_EVENT_LEVEL'];
                        app.old_state = response.data['STATE'];
                        app.old_pushEvent = response.data['PUSH_EVENT'];
                        app.support_alarm = !response.data['SUPPORT_ALARM'];
                        app.checkDisabled = !response.data['SUPPORT_HA'];
                        app.support_setting = !response.data['SUPPORT_SETTING'];
                        app.isEsight = !app.support_setting;
                        if (!app.isEsight) {
                            app.alertMsg(app.i18ns.vCenter.alertMsg);
                        }
                    }
                });
            },
            /**
             * 判断启用HA按钮状态
             *
             */
            judgmentStatus: function () {
                var queryParam = {
                    param: {
                        pageNo: 1,
                        pageSize: 10,
                        hostIP: ''
                    }
                }
                vCenterManage.getList(queryParam, function (ret) {
                    app.getEsight(ret);
                    if (app.haCode) {
                        //app.checkDisabled = false;
                        // app.isEsight = true;
                    } else {
                        // app.checkDisabled = true;
                        // app.ruleForm.state = false;
                        // app.isEsight = false;
                        this.alertMsg(app.i18ns.vCenter.alertMsg);
                    }
                });

            },
            /**
             * 保存配置
             *
             */
            save: function () {
                console.log("save::");
                // var that = this;
                app.loading = true;
                this.$refs['ruleForm'].validate(function (valid) {
                    if (valid) {
                        var param = {
                            userName: app.ruleForm.userName,
                            state: app.ruleForm.state,
                            hostIp: app.ruleForm.hostIp,
                            pushEvent: app.ruleForm.pushEvent,
                            pushEventLevel: app.ruleForm.pushEventLevel
                        }
                        if (app.isUpdate && app.ruleForm.password1.length > 0) {
                            param.password = app.ruleForm.password1
                        } else if (app.ruleForm.password && app.ruleForm.password.length > 0) {
                            param.password = app.ruleForm.password
                        }
                        vCenterManage.save(param, function (response) {
                            app.loading = false;
                            if (response.code === '0') {
                                app.showDialog(response.data.success, response.data.fail);
                            } else {
                                msg = getErrorMsg(response.code);
                                app.alertMsg(msg);
                            }
                        })
                    } else {
                        app.loading = false;
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            /**
             * 提醒框方法
             *
             * @param {any} msg
             * @param {any} callback
             */
            alertMsg: function (msg, callback) {
                this.$alert(msg, this.i18ns.common.prompt, {
                    confirmButtonText: this.i18ns.common.confirm,
                    callback: function () {
                        callback && callback()
                    }
                });
            },
            checkboxChange: function (val) {
                /*  if (val.target.checked != true) {
                     this.ruleForm.state = false;
                     app.checked = false;
                 } */
                /* app.judgmentStatus(); */
            },
            pushEventLevelChange: function (val) {
                if (val === 1 || val === 2 || val === 3) {
                    this.ruleForm.pushEvent = true;
                } else {
                    this.ruleForm.pushEvent = false;
                    this.ruleForm.pushEventLevel = 0;
                }

            },
            showDialog: function (sucessData, failData) {
                app.operationData = [];
                app.isShowHAResult = false;
                app.isShowAlarmResult = false;
                for (let i = 0; i < sucessData.length; i++) {
                    var item = sucessData[i];
                    var HAResult = "";
                    if (app.old_state != undefined && app.old_state !== '' && app.old_state != app.ruleForm
                        .state) {
                        app.isShowHAResult = true;
                        if (app.old_state) {
                            HAResult = app.i18ns.vCenter.unregisterSuccess
                        } else {
                            HAResult = app.i18ns.vCenter.registerSuccess
                        }
                    }
                    var alarmResult = "";
                    if (app.old_pushEvent !== "" && app.old_pushEvent !== undefined && app.old_pushEvent !=
                        app.ruleForm.pushEvent) {
                        app.isShowAlarmResult = true;
                        if (app.old_pushEvent) {
                            alarmResult = app.i18ns.vCenter.unalarmSuccess
                        } else {
                            alarmResult = app.i18ns.vCenter.alarmSuccess
                        }
                    }
                    app.operationData.push({
                        hostIp: item.hostIp,
                        aliasName: item.aliasName,
                        HAResult: HAResult,
                        alarmResult: alarmResult
                    });
                }
                for (let i = 0; i < failData.length; i++) {
                    var item = failData[i];
                    var HAResult = "";
                    if (app.old_state != undefined && app.old_state !== '' && app.old_state != app.ruleForm
                        .state) {
                        app.isShowHAResult = true;
                        if (app.old_state) {
                            HAResult = app.i18ns.vCenter.unregisterFail
                        } else {
                            HAResult = app.i18ns.vCenter.registerFail
                        }
                    }
                    var alarmResult = "";
                    if (app.old_pushEvent !== "" && app.old_pushEvent !== undefined && app.old_pushEvent !=
                        app.ruleForm.pushEvent) {
                        app.isShowAlarmResult = true;
                        if (app.old_pushEvent) {
                            alarmResult = app.i18ns.vCenter.unalarmFail
                        } else {
                            alarmResult = app.i18ns.vCenter.alarmrFail
                        }
                    }
                    app.operationData.push({
                        hostIp: item.hostIp,
                        aliasName: item.aliasName,
                        HAResult: HAResult,
                        alarmResult: alarmResult
                    });
                }
                app.old_state = app.ruleForm.state;
                app.old_pushEvent = app.ruleForm.pushEvent;
                app.centerDialogVisible = true;
            }
        }
    })
</script>

</html>